# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.dat
*.sqlite
*.pdb
*/migrations/*
/staticfiles/

# Media files
media

# virtualenv
/env

# Tailwind
/tailwind/node_modules